body{
    margin: 0;
    background-color: rgba(100, 30, 180, .1);
    height: 100%;
    margin-bottom: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.about-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    margin: 0;
}

.about-logo a{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    padding: 5px;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
}

.about-logo button{
    padding: 10px;
    margin-right: 10px;
    height:35px;
    background-color: rgba(129, 35, 118, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    font-weight: normal;
    font-size: 18px;
    border-radius: 5px;
    height: 50px;
    padding-inline: 20px;
}


.about-logo img{
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.page1-about{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 20px;
    margin-inline: 20px;
    background: linear-gradient(to right, rgba(0, 0, 0, .9), rgba(118, 14, 187, 1), rgba(100, 30, 180, .1));
    align-items: center;
    color: rgba(255, 255, 255, 1);
    margin-top: 30px;
}

.page1-about{
    p{
        padding-bottom: 0;
    }
    h4{
        font-size: 35px;
        width: 100%;
        margin: 0;
        padding-top: 0;
    }
    p:nth-of-type(1){
        font-size: 22px;
        margin-top: 30px;
    }
    p:nth-of-type(2){
        margin-top: 50px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.page1-about img{
    margin-left: auto;
}

.mi-vi{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.mission{
    /*background-color: rgba(110, 25, 206, 0.2);*/
    background-color: rgba(255, 255, 255, 1);
    padding-inline: 20px;
    width: 50%;
    height: 200px;
    box-shadow: 0 0 10px rgba(110, 25, 206, 0.9), 0 0 10px rgba(247, 0, 255, 1), 0 0 10px rgba(255, 0, 0, 1);
}

.mission p:nth-of-type(1){
    font-size: 25px;
    font-weight: bold;
}

.mission p:nth-of-type(2){
    font-size: 20px;
    width: 70%;
}

.vission{
    /*background-color: rgba(110, 25, 206, 0.2);*/
    background-color: rgba(255, 255, 255, 1);
    padding-inline: 20px;
    width: 50%;
    height: 200px;
    box-shadow: 0 0 10px rgba(110, 25, 206, 0.9), 0 0 10px rgba(247, 0, 255, 1), 0 0 10px rgba(255, 0, 0, 1);
}

.vission p:nth-of-type(1){
    font-size: 25px;
    font-weight: bold;
}

.vission p:nth-of-type(2){
    font-size: 20px;
    width: 100%;
}

.about-courses{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.about-courses p:nth-of-type(1){
    font-size: 30px;
}

.courses-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-inline: 10%;
    column-gap: 5%;
    row-gap: 3%;
}

.stupid-chatgpt{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 45%;
    margin-inline: 10%;
    column-gap: 5%;
}

.python{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    padding-inline: 10px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(110, 25, 206, 0.9);
    padding-bottom: 10px;
    padding-top: 10px;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: /*rgba(110, 25, 206, 0.9)*/ rgba(129, 35, 118, 1);
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        i{
            font-size: 40px;
            color: rgba(255, 255, 255, 1);
        }
    }
}

.python p:nth-of-type(1){
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-top: 10px;
}

.python p:nth-of-type(2){
    font-size: 18px;
    text-align: center;
}

.our-journey-parent{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .2);
    padding-inline: 4%;
    margin-top: 5%;
    align-items: center;
    height: 100%;
}

.our-journey-parent h4{
    color: rgb(60, 35, 151);
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.our-journey{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    position: relative;
    div{
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        border-radius: 20px;
        padding-bottom: 0;
        padding-top: 0;
        width: 90%;
        height: 10rem;
        border-left: 4px solid rgba(23, 120, 247, 1);
        box-shadow: 0 0 10px rgba(100, 30, 180, .5);
        h5{
            padding-bottom: 0;
            margin-bottom: 0;
            font-size: 20px;
            padding-top: 0;
            margin-top: 20px;
        }
        p:nth-of-type(1){
            padding: 15px 0;
            margin: 0 0;
            font-size: 17px;
        }
        p:nth-of-type(2){
            padding-bottom: 0;
            margin: 0 0;
            color: rgb(9, 73, 157);
        }
    }
}

.right div::after{
    content: "hello";
    margin-left: auto;
    margin-top: -9rem;
    background-color: rgb(9, 118, 243);
    color: rgba(255, 255, 255, .0);
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    clip-path: circle(50% at 78% 26%);
}

.left-1{
    animation: slide 1s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

@keyframes slide{
    0%{
        opacity: 0;
        transform: translateX(30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.left div::after{
    font-family: 'boxicons';
    content: "\ebd4";
    /*display: inline-block;*/
    font-size: 30px;
    transform: translate(36px, -60px);
    margin-left: auto;
    color: rgba(9, 118, 243, 1);
}

.styling-div{
    display: flex;
    flex-direction: column;
    height: 53rem;
    width: 3px;
    background-color: rgba(110, 25, 206, 0.3);
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    position: relative;
    margin-top: 10rem;
    div{
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        border-radius: 20px;
        padding-bottom: 0;
        padding-top: 0;
        width: 90%;
        height: 10rem;
        box-shadow: 0 0 10px rgba(100, 30, 180, .5);
        h5{
            padding-bottom: 0;
            margin-bottom: 0;
            font-size: 20px;
            padding-top: 0;
            margin-top: 0;
        }
        p:nth-of-type(1){
            padding: 15px 0;
            margin: 0 0;
            font-size: 17px;
        }
        p:nth-of-type(2){
            padding-bottom: 0;
            margin: 0 0;
            color: rgba(9, 118, 243, 1);
        }
    }
}

.right div::before{
    font-family: 'boxicons';
    content: "\ebd4";
    display: inline-block;
    font-size: 30px;
    transform: translate(-58px, 60px);
    margin-right: auto;
    color: rgb(9, 118, 243);
}

.to-action{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.freeless-btn-to-action{
    padding: 10px;
    margin-right: 10px;
    height:35px;
    background-color: rgba(129, 35, 118, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    font-weight: normal;
    font-size: 18px;
    border-radius: 5px;
    height: 50px;
    padding-inline: 20px;
}

.follow-about{
    margin-top: 30px;
    gap: 30px;
    background-color: rgba(100, 30, 180, .1);
    padding-inline: 70px;
    margin-bottom: 30px;
    margin-top: 70px;
    text-align: center;
}

.breath{
    font-size: 30px;
    font-weight: normal;
    animation: breath 2.5s infinite ease-in-out;
}

@keyframes breath{
    0%{ transform: translateY(0) scale(1);}
    50%{transform: translateY(1px) scale(1.1);}
    100%{transform: translateY(0) scale(1);}
}

.follow-icons{
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-top: 30px;
}

.fb-about a{
    display: flex;
    flex-direction: column;
    gap: 0;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.fb-about i{
    align-self: center;
    font-size: 30px;
    color: rgb(20, 98, 187);
}

.messenger-about a{
    display: flex;
    flex-direction: column;
    gap: 0;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.messenger-about i{
    align-self: center;
    font-size: 30px;
    background: linear-gradient(to top right, rgba(6, 10, 231, 1), rgba(255, 0, 0, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ig-about a{
    display: flex;
    flex-direction: column;
    gap: 0;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.ig-about i{
    align-self: center;
    font-size: 30px;
    background: linear-gradient(to top right, rgb(252, 114, 2), rgba(247, 0, 255, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.discord-about a{
    display: flex;
    flex-direction: column;
    gap: 0;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.discord-about i{
    align-self: center;
    font-size: 30px;
    color: rgba(23, 120, 247, 1);
}

.linkedin-about a{
    display: flex;
    flex-direction: column;
    gap: 0;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.linkedin-about i{
    align-self: center;
    font-size: 30px;
    color: rgba(23, 120, 247, 1);
}

.telegram-about a{
    display: flex;
    flex-direction: column;
    gap: 0;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.telegram-about i{
    align-self: center;
    font-size: 30px;
    color: rgba(23, 120, 247, 1);
}

footer{
    background-color: rgba(49, 10, 54, 1);
    margin-bottom: 0;
    margin-top: 180px;
    color: rgba(255, 255, 255, .7);
    padding: 30px;
    width: 100vw;
}