body{
    margin: 0;
    background-color: rgba(100, 30, 180, .1);
    height: 100%;
    margin-bottom: 0;
}

.about-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;
}

.about-logo a{
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
}

.about-logo button{
    padding: 10px;
    height:35px;
    margin-top: 35px;
    background-color: rgba(118, 14, 187, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
}


.about-logo img{
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.page1-about{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 20px;
    margin-inline: 20px;
    background: linear-gradient(to right, rgba(0, 0, 0, .9), rgba(118, 14, 187, 1), rgba(100, 30, 180, .1));
    align-items: center;
    color: rgba(255, 255, 255, 1);
    margin-top: 30px;
}

.page1-about{
    p{
        padding-bottom: 0;
    }
    h4{
        font-size: 35px;
        width: 100%;
        margin: 0;
        padding-top: 0;
    }
    p:nth-of-type(1){
        font-size: 22px;
        margin-top: 30px;
    }
    p:nth-of-type(2){
        margin-top: 50px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.page1-about img{
    margin-left: auto;
}

.mi-vi{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.mission{
    background-color: rgba(110, 25, 206, 0.2);
    padding-inline: 20px;
    width: 50%;
    height: 200px;
    box-shadow: 0 0 10px rgba(110, 25, 206, 0.9), 0 0 10px rgba(247, 0, 255, 1), 0 0 10px rgba(255, 0, 0, 1);
}

.mission p:nth-of-type(1){
    font-size: 25px;
    font-weight: bold;
}

.mission p:nth-of-type(2){
    font-size: 20px;
    width: 70%;
}

.vission{
    background-color: rgba(110, 25, 206, 0.2);
    padding-inline: 20px;
    width: 50%;
    height: 200px;
    box-shadow: 0 0 10px rgba(110, 25, 206, 0.9), 0 0 10px rgba(247, 0, 255, 1), 0 0 10px rgba(255, 0, 0, 1);
}

.vission p:nth-of-type(1){
    font-size: 25px;
    font-weight: bold;
}

.vission p:nth-of-type(2){
    font-size: 20px;
    width: 100%;
}

.about-courses{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-courses p:nth-of-type(1){
    font-size: 30px;
}

.courses-cards{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-inline: 10px;
    position: relative;
}

.python{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    padding-inline: 10px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(110, 25, 206, 0.9);
    padding-bottom: 10px;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(110, 25, 206, 0.9);
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        i{
            font-size: 40px;
            color: rgba(255, 255, 255, 1);
        }
    }
}

.python p:nth-of-type(1){
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-top: 10px;
}

.python p:nth-of-type(2){
    font-size: 18px;
    text-align: center;
}

.follow-about{
    margin-top: 30px;
    gap: 30px;
    background-color: rgba(100, 30, 180, .1);
    padding-inline: 70px;
    margin-bottom: 30px;
    margin-top: 70px;
    text-align: center;
}

.breath{
    font-size: 30px;
    font-weight: bold;
    animation: breath 2.5s infinite ease-in-out;
}

@keyframes breath{
    0%{ transform: translateY(0) scale(1);}
    50%{transform: translateY(1px) scale(1.1);}
    100%{transform: translateY(0) scale(1);}
}

.follow-icons{
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-top: 30px;
}

.fb-about a{
    display: flex;
    flex-direction: column;
    gap: 0;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.fb-about i{
    align-self: center;
    font-size: 30px;
    color: rgb(20, 98, 187);
}

.messenger-about a{
    display: flex;
    flex-direction: column;
    gap: 0;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.messenger-about i{
    align-self: center;
    font-size: 30px;
    background: linear-gradient(to top right, rgba(6, 10, 231, 1), rgba(255, 0, 0, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ig-about a{
    display: flex;
    flex-direction: column;
    gap: 0;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.ig-about i{
    align-self: center;
    font-size: 30px;
     background: linear-gradient(to top right, rgb(252, 114, 2), rgba(247, 0, 255, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.discord-about a{
    display: flex;
    flex-direction: column;
    gap: 0;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.discord-about i{
    align-self: center;
    font-size: 30px;
    color: rgba(23, 120, 247, 1);
}

.linkedin-about a{
    display: flex;
    flex-direction: column;
    gap: 0;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.linkedin-about i{
    align-self: center;
    font-size: 30px;
    color: rgba(23, 120, 247, 1);
}

.telegram-about a{
    display: flex;
    flex-direction: column;
    gap: 0;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.telegram-about i{
    align-self: center;
    font-size: 30px;
    color: rgba(23, 120, 247, 1);
}

footer{
    background-color: rgba(49, 10, 54, 1);
    margin-bottom: 0;
    margin-top: 180px;
    color: rgba(255, 255, 255, .7);
    padding: 30px;
}