body{
    margin: 0;
    padding: 0;
    background-color: rgba(220, 124, 213, 0.1);
    font-family: Arial, sans-serif;
}

#circles{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    overflow: hidden;
    pointer-events: none;
}

#circles div{
    /*border-radius: 50%;*/
    position: absolute;
    opacity: 0.3;
}

#circle1{
    border-radius: 50%;
    background-color: rgba(218, 12, 204, .3);
    width: 400px;
    height: 200px;
    box-shadow: 5px 5px 10px rgba(218, 12, 204, .3), 0 0 10px rgba(244, 147, 0, 0.888);
}

#circle2{
    background-color: rgba(0, 78, 137, .2);
    width: 100px;
    height: 900px;
    bottom: 0;
    left: 80vw;
    transform: skew(-45deg);
}

#circle4{
    background-color: rgba(167, 10, 172, 0.58);
    width: 900px;
    aspect-ratio: 1;
    bottom: 0;
    left: 80vw;
    border-radius: 0;
    transform: skew(-45deg);
}

#circle3{
    border-radius: 50%;
    background: linear-gradient(to right, rgba(244, 147, 0, .288), rgba(234, 100, 120, 0.664), rgba(148, 15, 126, 0.863));
    /*background-color: rgba(244, 147, 0, 0.288);*/
    width: 550px;
    height: 110px;
    top: 90px;
    left: 35vw;
    transform: translateY(-30px);
    animation: breathe 5s infinite ease-in-out;
}

@keyframes breathe{
    0%{
        height: 110px;
        width: 550px;
    }
    50%{
        height: 120px;
        width: 560px;
    }
    100%{
        height: 110px;
        width: 550px;
    }
}


#contact-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    padding-right: 2%;
    padding-left: 0.5%;
    border-bottom: 1px solid rgba(68, 64, 64, .5);
    a{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        img{
            width: 5rem;
        }
        p{
            text-decoration: none;
            font-size: 1.6rem;
        }
    }
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        font-size: 1.3rem;
        background-color: rgb(149, 7, 139);
        border: none;
        border-radius: 5px;
        color: rgba(255, 255, 255, 1);
        padding: 15px;
    }
}

.support{
    display: none;
}

#wrapper{
    display: flex;
    flex-direction: column;
    margin-inline: 10%;
    justify-content: center;
    transform: translateY(-30px);
    h2{
        align-self: center;
        font-size: 3rem;
        background: linear-gradient(25deg, rgba(0, 0, 0, 1), rgba(0, 78, 137, 1), rgb(213, 29, 219));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    p{
        align-self: center;
        transform: translateY(-30px);
        font-size: 1.2rem;
        width: 60%;
        text-align: center;
    }
}

#wrappedBigKid{
    display: flex;
    flex-direction: row;
    margin-inline: 10%;
    gap: 5%;
    height: 65vh;
    width: 75%;
    #wrappedChild1{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        width: 40%;
        padding-inline: 5%;
        box-shadow: 0 0 10px rgba(218, 12, 204, .3);
        gap: 10px;
        height: 70%vh;
        h4{
            font-size: 2rem;
        }
        #wrappedEmail{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            background-color: rgba(240, 73, 229, 0.1);
            border-radius: 10px;
            padding-left: 3%;
            height: 20%;
            #emailKid1{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(167, 10, 172, 0.58);
                font-size: 1.5rem;
                padding: 15px;
                height: 60%;
                border-radius: 10px;
                color: rgba(255, 255, 255, 1);
            }
            #emailKid2{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                h5{
                    font-size: 1.2rem;
                    transform: translateY(30px);
                }
                p:nth-of-type(1){
                    transform: translate(-50px, -10px);
                    color: rgba(0, 78, 137, 1);
                }
                p:nth-of-type(2){
                    text-wrap: nowrap;
                    transform: translate(-50px, -30px);
                    color: rgba(68, 64, 64, .7);
                }
            }
        }
        #wrappedNumber{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            background-color: rgba(240, 73, 229, 0.1);
            border-radius: 10px;
            padding-left: 3%;
            height: 20%;
            #numberKid1{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(167, 10, 172, 0.58);
                font-size: 1.5rem;
                padding: 15px;
                height: 60%;
                border-radius: 10px;
                color: rgba(255, 255, 255, 1);
            }
            #numberKid2{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                h5{
                    font-size: 1.2rem;
                    transform: translateY(30px);
                }
                p:nth-of-type(1){
                    transform: translate(-90px, -10px);
                    color: rgba(0, 78, 137, 1);
                }
                p:nth-of-type(2){
                    text-wrap: nowrap;
                    transform: translate(-70px, -30px);
                    color: rgba(68, 64, 64, .7);
                }
            }
        }
        #wrappedSocial{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            background-color: rgba(240, 73, 229, 0.1);
            border-radius: 10px;
            padding-left: 3%;
            height: 20%;
            #socialKid1{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(167, 10, 172, 0.58);
                font-size: 1.5rem;
                padding: 15px;
                height: 60%;
                border-radius: 10px;
                color: rgba(255, 255, 255, 1);
            }
            #socialKid2{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                h5{
                    font-size: 1.2rem;
                    margin-top: 3.5rem;
                    transform: translateY(10px);
                }
                #icons{
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    padding: 0;
                    margin: 0;
                    transform: translateY(-5px);
                    font-size: 15px;
                    i:nth-of-type(1){
                        color: rgba(0, 78, 137, 1);
                    }
                    i:nth-of-type(2){
                        background: linear-gradient(to bottom, rgb(4, 12, 252), rgb(241, 9, 9));
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    i:nth-of-type(3){
                        color: rgb(78, 160, 222);
                    }
                    i:nth-of-type(4){
                        color: rgb(57, 7, 255);
                    }
                    i:nth-of-type(5){
                        color: rgb(0, 0, 0);
                    }
                    i:nth-of-type(6){
                        color: rgb(0, 0, 0);
                    }
                }
                i{
                    font-size: 1.2rem;
                }
                p{
                    flex-wrap: nowrap;
                    text-wrap: nowrap;
                    align-self: flex-start;
                    margin-top: 3rem;
                    transform: translate(-10px, -40px );
                    color: rgba(68, 64, 64, .7);
                }
            }
        }
    }
}

#wrappedChild2{
    display: flex;
    flex-direction: column;
    padding-inline: 2%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(220, 124, 213, 0.8);
    width: 100%;
    h3{
        font-size: 2.2rem;
        align-self: center;
    }
    p{
        width: 80%;
    }
    #inputs1{
        display: flex;
        flex-direction: row;
        width: 100%;
        #inputsname{
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 50%;
            font-size: 1.5rem;
            input{
                width: 90%;
                height: 2rem;
                background-color: rgba(220, 124, 213, 0.1);
                border: 1px solid rgba(220, 124, 213, 0.8);
                border-radius: 10px;
            }
        }
        #inputsnumber{
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 50%;
            font-size: 1.5rem;
            input{
                width: 90%;
                height: 2rem;
                background-color: rgba(220, 124, 213, 0.1);
                border: 1px solid rgba(220, 124, 213, 0.8);
                border-radius: 10px;
            }
        }
    }
    #inputs2{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: .8rem;
        #inputsemail{
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 50%;
            font-size: 1.5rem;
            input{
                width: 90%;
                height: 2rem;
                background-color: rgba(220, 124, 213, 0.1);
                border: 1px solid rgba(220, 124, 213, 0.8);
                border-radius: 10px;
            }
        }
        #inputscourse{
            display: flex;
            flex-direction: column;
            font-size: 1.5rem;
            gap: 10px;
            select{
                font-size: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 95%;
                height: 1.5rem;
                padding: 1rem;
                padding-inline: 1.4rem;
                border: 1px solid rgba(220, 124, 213, 0.8);
                background-color: rgba(220, 124, 213, 0.1);
                border-radius: 10px;
            }
        }
    }
}

#issue{
    display: flex;
    flex-direction: column;
    margin-top: .8rem;
    margin-bottom: 10px;
    font-size: 1.5rem;
    gap: 10px;
    #the-issue{
        height: 100%;
        background-color: rgba(220, 124, 213, 0.1);
        border: 1px solid rgba(220, 124, 213, 0.8);
        border-radius: 10px;
        min-height: 6rem;
        padding: 10px;
    }
}

#latenight-thought{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    font-size: 1.3rem;
    background-color: rgb(149, 7, 139);
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    padding: 15px;
}

@media (max-width: 1690px){
    #wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #wrappedBigKid{
            width: 100%;
            #wrappedChild2{
                #inputs2{
                    #inputscourse{
                        width: 50%;
                    }
                }
            }
        }
    }
}

@media (max-width: 1420px){
    #circles{
        #circle1{
            width: 300px;
            height: 100px;
            transform: translate(-20px, 60px);
        }
        #circle3{
            transform: translate(-60px, -20px);
        }
    }
    #wrapper{
        padding: 0;
        #wrappedBigKid{
            width: 110%;
            margin-inline: 5%;
            padding: 0;
        }
    }
}

@media (max-width: 1150px){
    #circles{
        #circle1{
            transform: translate(-140px, 50px);
        }
        #circle3{
            transform: translate(-100px, -25px);
            animation: breathe 7s infinite ease-in-out;
        }
    }
    #wrapper{
        padding: 0;
        #wrappedBigKid{
            width: 120%;
            margin-inline: 5%;
            padding: 0;
        }
    }
}

@media (max-width: 1030px){
    #circles{
        #circle1{
            transform: translate(-160px, 30px);
        }
        #circle3{
            width: 80px;
            height: 50px;
            transform: translate(-130px, -50px);
        }
    }
    #wrapper{
        h2{
            font-size: 2.5rem;
        }
        #wrapper-p{
            width: 100%;
        }
        #wrappedBigKid{
            display: flex;
            flex-direction: column-reverse;
            margin-top: 8rem;
            width: 100%;
            padding-inline: 1.5rem;
            #wrappedChild1{
                display: flex;
                flex-direction: column;
                div{
                    display: none;
                }
            }
            #wrappedChild2{
                margin-bottom: 1.5rem;
                #latenight-thought{
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media (max-width: 870px){
    #circles{
        #circle1, #circle2{
            display: none;
        }
        #circle3{
            width: 10px;
            transform: translate(-160px, -70px);
        }
    }
}

@media (max-width: 750px){
    #circles{
        #circle3{
            animation: none;
            border-radius: 0%;
            top: -30vh;
            left: -100vw;
            width: 900px;
            height: 900px;
            transform: skew(-45deg);
            background-color: rgba(218, 12, 204, .2);
        }
    }

    #contact-logo{
        button{
            font-size: 1rem;
        }
    }

    .support{
        display: flex;
        flex-direction: column;  
        justify-content: center;
        align-items: center;   
        padding-left: 30px;
        h3{
            width: auto;
            font-size: 2rem;
            background: linear-gradient(25deg, rgba(0, 0, 0, 1), rgb(3, 21, 122), rgb(174, 1, 248));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            transform: translateY(10px);
            padding: 0;
            padding-top:20px;
            margin: 0;
        }

        #call{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0;
            #call-sec1{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0;
                padding: 0;
                gap: 0;
                i{
                    color: rgb(4, 47, 241);
                    font-size: 1.5rem;
                }
                p{
                    font-size: 1.5rem;
                }
            }
            #call-sec2{
                transform: translateY(-10px);
            }
        }

        #email{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            #email-sec1{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0px;
                margin: 0;
                padding: 0;
                i{
                    color: rgb(4, 47, 241);
                    font-size: 1.5rem;
                }
                p{
                    font-size: 1.5rem;
                }
            }
            #email-sec2{
                transform: translateY(-10px);
            }
        }

        #follow{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            #follow-sec1{
                font-size: 1.5rem;
            }
            #follow-sec2{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 15px;
                font-size: 1.2rem;
                i:nth-of-type(1){
                    color: rgba(0, 78, 137, 1);
                }
                i:nth-of-type(2){
                    background: linear-gradient(to bottom, rgb(4, 12, 252), rgb(241, 9, 9));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                i:nth-of-type(3){
                    color: rgb(78, 160, 222);
                }
                i:nth-of-type(4){
                    color: rgb(57, 7, 255);
                }
                i:nth-of-type(5){
                    color: rgb(0, 0, 0);
                }
                i:nth-of-type(6){
                    color: rgb(0, 0, 0);
                }
            }
        }
    }

    #wrapper{
        margin-top: 20px;
        #wrapper-p{
            display: none;
        }
        #wrappedChild2{
            padding-inline: 2%;
            width: 100%;
            margin-top: 30px;
            #inputs1{
                display: flex;
                flex-direction: column;
                gap: 10px;
                #inputsname{
                    width: 100%;
                    gap: 10px;
                    font-size: 1.3rem;
                }
                #inputsnumber{
                    width: 100%;
                    gap: 10px;
                    font-size: 1.3rem;
                }
            }
            #inputs2{
                display: flex;
                flex-direction: column;
                gap: 10px;
                #inputsemail{
                    width: 100%;
                    gap: 10px;
                    font-size: 1.3rem;
                }
                #inputscourse{
                    width: 100%;
                    gap: 10px;
                    font-size: 1.3rem;
                    select{
                        width: 180%;
                    }
                }
            }
        }
    }
}

@media (max-width: 490px){
    #circles{
        #circle3{
            animation: none;
            border-radius: 0%;
            top: -30vh;
            left: -180vw;
            width: 900px;
            height: 900px;
            transform: skew(-45deg);
            background-color: rgba(218, 12, 204, .2);
        }
        #circle4{
            background-color: rgba(167, 10, 172, 0.58);
            width: 900px;
            aspect-ratio: 1;
            bottom: 0;
            left: 95vw;
            border-radius: 0;
            transform: skew(-45deg);
        }
    }

    #contact-logo{
        a{
            img{
                width: 3rem;
            }
            p{
                font-size: 1.2rem;
            }
            button{
                height: 1.5rem;
                padding: 0;
                font-size: 1rem;
            }
        }
    }

    #wrapper{
        h2{
            display: none;
        }
        #wrappedChild2{
            h3{
                font-size: 1.8rem;
            }
            p{
                font-size: 1rem;
            }
            #inputs1{
                transform: translateY(-20px);
                #inputsname{
                    font-size: 1rem;
                    input{
                        height: 1.3rem;
                        border-radius: 0%;
                    }
                }
                #inputsnumber{
                    font-size: 1rem;
                    input{
                        height: 1.3rem;
                        border-radius: 0%;
                    }
                }
            }

            #inputs2{
                transform: translateY(-20px);
                #inputsemail{
                    font-size: 1rem;
                    input{
                        height: 1.3rem;
                        border-radius: 0%;
                    }
                }
                #inputscourse{
                    font-size: 1rem;
                    select{
                        height: 1.3rem;
                        border-radius: 0%;
                        padding: 2px;
                    }
                }
            }
        }
    }
}