body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /*background: linear-gradient(250deg, /*rgba(180, 180, 180, .2)white 10%, /*rgba(255, 255, 255, 1) rgba(152, 2, 189, .4) 90%);*/
}

.freeless-head{
    box-shadow: 0 0 5px rgba(100, 20, 180, .8);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
}

.in-studio-button{
    border: none;
    border-radius: 5px;
    background-color: rgb(129, 35, 118);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: normal;
    padding-inline: 40px;
    height: 50px;
}

.freeless-head a{
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: rgba(100, 40, 180, 1);
    font-size: 25px;
}

.freeless-head-img{
    width: 55px;
    aspect-ratio: 1;
    border-radius: 50%;
}

#freeless-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin-inline: 10%;
    margin-top: 5%;
    gap: 10%;
}

#freeless-atract{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4%;
    border-left: 5px solid rgba(129, 35, 118, 1);
    border-radius: 30px;
    width: 40%;
    h3{
        font-size: 2.5rem;
        width: 100%;
        flex-wrap: wrap;
    }
    #free-span{
        color: rgb(51, 117, 229);
        text-decoration: underline;
    }
    p{
        font-size: 1.4rem;
        #techHaven-bold{
            color: rgb(51, 117, 229);
            font-size: 1.6rem;
        }
    }
}

#rise-jonas-blue{
    display: flex;
    flex-direction: row;
    align-self: center;
    #rise1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10%;
        i{
            color: rgb(18, 16, 16);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            height: 2.3rem;
            background: linear-gradient(70deg,rgba(51, 117, 229, 1), rgba(129, 35, 118, 1));
            border-radius: 10px;
            padding: 0.8rem;
            transform: translateY(1.5rem);
        }
        #rise1-1{
            display: flex;
            flex-direction: column;
            gap: 0;
            padding: 0;
            h6{
                transform: translateY(2.5rem);
                font-size: 1.5rem;
            }
            p{
                color: rgba(72, 71, 74, 1);
                transform: translateY(-1rem);
                font-size: 1rem;
            }
        }
    }

    #rise2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10%;
        i{
            color: rgb(250, 174, 8);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            height: 2.3rem;
            background: linear-gradient(70deg,rgba(51, 117, 229, 1), rgba(129, 35, 118, 1));
            border-radius: 10px;
            padding: 0.8rem;
            transform: translateY(1.5rem);
        }
        #rise2-2{
            display: flex;
            flex-direction: column;
            gap: 0;
            padding: 0;
            h6{
                transform: translateY(2.5rem);
                font-size: 1.4rem;
            }
            p{
                color: rgba(72, 71, 74, 1);
                transform: translateY(-1rem);
                font-size: 1rem;
            }
        }
    }

    #rise3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10%;
        i{
            color: rgb(80, 246, 255);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            height: 2.3rem;
            background: linear-gradient(70deg,rgba(51, 117, 229, 1), rgba(129, 35, 118, 1));
            border-radius: 10px;
            padding: 1rem;
            transform: translateY(1.5rem);
        }
        #rise3-3{
            display: flex;
            flex-direction: column;
            gap: 0;
            padding: 0;
            h6{
                transform: translateY(2.5rem);
                font-size: 1.4rem;
            }
            p{
                color: rgba(72, 71, 74, 1);
                transform: translateY(-1rem);
                font-size: 1rem;
            }
        }
    }
}