body{
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .6);
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  width: 100vw;
  margin-top: -15px;
  margin-left: -10px;
  z-index: 100;
}

.heading a{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-size: 25px;
  align-items: center;
  img{
    width: 60px;
  }
}

.freeless-btn{
    border: none;
    border-radius: 5px;
    background-color: rgb(129, 35, 118);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: normal;
    padding-inline: 20px;
    height: 50px;
    margin-right: 5px;
}

.login{
  padding-top: 50px;
  display: flex;
  flex-direction: row;
}

.left-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding-inline: 5%;
  transform: translateY(-30px);
}

.rev-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  color: rgba(50, 48, 48, 0.963);
}

.left-login h4{
  font-size: 33px;
  color: rgba(113, 16, 143, 1);
}

.left-login .new-door{
  margin-top: -20px;
  font-size: 18px;
}

.left-login i{
  font-size: 30px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100vh;
  position: relative;
  margin-top: -35px;
  margin-right: -10px;
  /*transform: translateX(50vw);*/
  background: url(/assets/kids.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

form input{
  outline: none;
}

form::before{
  position: absolute;
  content: "";
  background-color: rgba(113, 16, 143, .7);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.child{
  background-color: rgba(255, 255, 255, 1);
  z-index: 100;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  border-radius: 10px;
}

.child h5{
  font-size: 30px;
}

.em-div{
  display: flex;
  flex-direction: column;
  width: 70%;
}

.pass-div{
  display: flex;
  flex-direction: column;
  width: 70%;
}

.stupids{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.check{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sign-btn{
  font-size: 22px;
  padding-inline: 30px;
  background-color: rgba(113, 16, 143, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 100%;
}