body{
  margin: 0;
  overflow: hidden;
  background-color:  rgba(122, 58, 141, 0.425);
  color: rgba(255, 255, 255, .9);
}

.wrap{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 95vh;
  margin-top: 30px;
}

.heading a{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
  font-size: 30px;
  margin-left: 20px;
}

.logo-login{
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
}

form1{
  display: flex;
  flex-direction: column;
  margin-top: 0;
  align-items: center;
}

.login-back{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  border: 1px solid rgba(161, 32, 247, 0.4);
  padding-inline: 100px;
  border-radius: 10px;
  background-color: rgba(138, 12, 155, 0.3) ;
  padding-bottom: 50px;
  padding-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.904);
}

form input{
  background-color: rgba(255, 255, 255, 0.658);
  border: none;
  outline: none;
}

form i{
  color: rgba(255, 255, 255, .4);
}

form h5{
  font-size: 25px;
}

.u-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
}

.u-name1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.user-errormessage{
  display: none;
}

.p-word{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
}

.p-word1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.pass-errormessage{
  display: none;
}

.log-be-submit{
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  font-size: 15px;
  padding-inline: 0;
}

.log-be-submit a{
  color: white;
  text-decoration: none;
  margin-left: auto;
}

.log-submit button{
  width: 100%;
  height: 30px;
  font-size: 23px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  background-color: rgba(122, 58, 141, 0.425);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(138, 12, 155, 0.815);
}

.form input{
  height: 20px;
  outline: none;
}

.username-RT{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.email-RT{
  display: flex;
  flex-direction: column;
}

#resetBtn{
  height: 30px;
  border: none;
  background-color: rgb(169, 15, 207);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  padding: 5px;
  border-radius: 3px;
}

#password{
  position: relative;
}

.bx-eye-closed{
  position: absolute;
  transform: translateX(120px);
  color: rgba(100, 100, 100, 1);
}

.bx-eye{
  position: absolute;
  transform: translateX(120px);
  color: rgba(100, 100, 100, 1);
}